name: CI with Test DB

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_USER: bekzod
          POSTGRES_PASSWORD: admin123
          POSTGRES_DB: test_db
        ports:
          - 5432:5432
        options: >-
          --health-cmd "pg_isready -U bekzod -d test_db"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
        - uses: actions/checkout@v4


        - uses: actions/setup-python@v5
          with:
            python-version: 3.14


        - run: pip install uv
        - run: uv sync 


        - name: Run tests
          
          run: pytest